ul {
  list-style-type: disc;
  margin-bottom: $small-spacing;
  padding-left: $base-spacing;
}

ol {
  list-style-type: decimal;
  margin-bottom: $small-spacing;
  padding-left: $base-spacing;
}

ul.unstyled,
ol.unstyled {
  list-style-type: none;
  margin: 0 0 $base-spacing 0;
  padding: 0;
}

ul.list-items {
  list-style: none;
  margin: 0 0 $base-spacing 0;
  padding: 0;

  li {
    background: $gray-lighter;
    margin: $small-spacing 0;
    padding: $small-spacing ($base-spacing / 1.5);
    border-radius: $base-border-radius;

    i {
      margin-right: $small-spacing;
    }

    span {
      color: $gray-medium;
      margin-left: ($base-spacing / 2);
    }

    a.primary,
    a.success,
    a.info,
    a.warning,
    a.danger,
    a.text {
      min-width: 115px;
      text-align: center;
      float: right;
      font-weight: bold;
      padding: 0 ($small-spacing / 2);
      border-radius: $base-border-radius;
      margin-left: $small-spacing;

      i {
        font-size: .8em;
        margin-right: $small-spacing / 2;
      }
    }

    a.primary {
      background-color: $brand-primary;
      color: $base-white;

      &:hover {
        background-color: darken($brand-primary, 10%);
      }
    }

    a.success {
      background-color: $brand-success;
      color: $base-white;

      &:hover {
        background-color: darken($brand-success, 10%);
      }
    }

    a.info {
      background-color: $brand-info;
      color: $base-black;

      &:hover {
        background-color: darken($brand-info, 15%);
      }
    }

    a.warning {
      background-color: $brand-warning;
      color: $base-white;

      &:hover {
        background-color: darken($brand-warning, 10%);
      }
    }

    a.danger {
      background-color: $brand-danger;
      color: $base-white;

      &:hover {
        background-color: darken($brand-danger, 10%);
      }
    }

    a.text {
      background-color: transparent;
      color: $base-black;

      &:hover {
        background-color: darken($gray-lighter, 10%);
      }
    }
  }
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: bold;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}
