@font-face {
	font-family: 'TT-icons';
	src:url('../fonts/TT-icons.eot?ew9np5');
	src:url('../fonts/TT-icons.eot?ew9np5#iefix') format('embedded-opentype'),
		url('../fonts/TT-icons.ttf?ew9np5') format('truetype'),
		url('../fonts/TT-icons.woff?ew9np5') format('woff'),
		url('../fonts/TT-icons.svg?ew9np5#tt-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'TT-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-work:before {
	content: "\e900";
}
.icon-agencies:before {
	content: "\e901";
}
.icon-alerts:before {
	content: "\e902";
}
.icon-analysis:before {
	content: "\e903";
}
.icon-bookmark:before {
	content: "\e904";
}
.icon-briefcase:before {
	content: "\e905";
}
.icon-building:before {
	content: "\e906";
}
.icon-certificate:before {
	content: "\e907";
}
.icon-checkmark:before {
	content: "\e908";
}
.icon-classification:before {
	content: "\e909";
}
.icon-codewords:before {
	content: "\e90a";
}
.icon-countries:before {
	content: "\e90b";
}
.icon-dashboard:before {
	content: "\e90c";
}
.icon-decentralization:before {
	content: "\e90d";
}
.icon-distributed:before {
	content: "\e90e";
}
.icon-document:before {
	content: "\e90f";
}
.icon-document-topic:before {
	content: "\e910";
}
.icon-download:before {
	content: "\e911";
}
.icon-education:before {
	content: "\e912";
}
.icon-google:before {
	content: "\e913";
}
.icon-harvester:before {
	content: "\e914";
}
.icon-indeed:before {
	content: "\e915";
}
.icon-industy:before {
	content: "\e916";
}
.icon-link:before {
	content: "\e917";
}
.icon-linkedin:before {
	content: "\e918";
}
.icon-logo:before {
	content: "\e919";
}
.icon-logo-black:before {
	content: "\e91a";
}
.icon-photos:before {
	content: "\e91b";
}
.icon-plus:before {
	content: "\e91c";
}
.icon-progress:before {
	content: "\e91d";
}
.icon-research:before {
	content: "\e91e";
}
.icon-search:before {
	content: "\e91f";
}
.icon-server:before {
	content: "\e920";
}
.icon-shared-with:before {
	content: "\e921";
}
.icon-social:before {
	content: "\e922";
}
.icon-star:before {
	content: "\e923";
}
.icon-survey:before {
	content: "\e924";
}
.icon-text:before {
	content: "\e925";
}
.icon-twiddler:before {
	content: "\e926";
}
.icon-upload:before {
	content: "\e927";
}
