.app-title {

  margin-bottom: $base-spacing;

  h1,
  h2,
  h3 {
    float: left;
    text-transform: uppercase;
    margin-bottom: 0;

    span {
      margin-right: .5em;
    }
  }

  a {
    float: right;
    appearance: none;
    position: relative;
    top: -4px;
    right: 0px;

    @include button-basic($brand-primary, false, inherit, $button-basic-padding)
  }

  @include clearfix;

}

.app-content {

  background-color: $base-white;
  padding: 1.5em 1.5em .5em 1.5em;
  margin-bottom: $base-spacing;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $base-black;
  }

}
