.app-title {

  h1,
  h2,
  h3 {
    float: left;
    text-transform: uppercase;
    span {
      color: $gray-medium;
      margin-right: .5em;
    }
  }

  a {
    float: right;
    appearance: none;
    position: relative;
    top: -4px;
    right: 0px;

    @include button-basic($brand-primary, false, inherit, $button-basic-padding)
  }

  @include clearfix;

}
