/* Spacing */

.more-top {
  margin-top: 2em !important;
}

.more-bottom {
  margin-bottom: 2em !important;
}

.more-left {
  margin-left: 2em !important;
}

.more-right {
  margin-right: 2em !important;
}

.add-top {
  margin-top: 1em !important;
}

.add-bottom {
  margin-bottom: 1em !important;
}

.add-left {
  margin-left: 1em !important;
}

.add-right {
  margin-right: 1em !important;
}

.remove-top {
  margin-top: 0 !important;
}

.remove-bottom {
  margin-bottom: 0 !important;
}

.remove-left {
  margin-left: 0 !important;
}

.remove-right {
  margin-right: 0px !important;
}
